@{
    @*@model List<WebApplication2.Models.ReporteModel>*@
ViewBag.Title = "Index";
}
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @*<img src=@Url.Action("CharterHelp", "Home", Model)/>*@
        <img src="@Url.Action("CharterHelp")" alt="Chart" />
        @*@{ var chart = new Chart(width: 500, height: 500, theme: ChartTheme.Yellow)
               .AddTitle("USA City Distribution")
               .AddSeries("Default", chartType: "column",
                    xValue: Model, xField: "Fecha",
                    yValues: Model, yFields: "Ganancia")
                .Write();
            }*@
    </div>
</body>
</html>